<div class="login-form-container">

    <form action="#" method = "post">
        <h3>Forget password</h3>
        <input type="email" name="email" placeholder="enter your email" id="" class="box" required>
        {{#if message}}
        <p style="font-size: smaller; color: red">{{message}}</p>
        {{/if}}
        <input type="submit" value="Submit" class="btn">
        <p>already have an account? <a href="sign-in">click here</a></p>
        <p>don't have an account? <a href="sign-up">create one</a></p>
    </form>

</div>
    