

<div class="login-form-container">

    <form action="#" method = "post">
        <h3>login form</h3>
        <input type="username" name="username" placeholder="enter your username" id="" class="box" required>
        <input type="password" name="password" placeholder="enter your password" id="" class="box" required>
        {{#if error}}
        <p style="font-size: smaller; color: red">{{error}}</p>
        {{/if}}
        <input type="submit" value="login now" class="btn">
        <p>forget password? <a href="/forget-password">click here</a></p>
        <p>don't have an account? <a href="sign-up">create one</a></p>
    </form>

</div>
    

    <!-- shopping-cart section  -->

