<link rel="stylesheet" href="/css/app.css">
<header class="header">

    <a href="/home" class="logo"> <i class="fas fa-utensils"></i> Camap </a>
    
    <nav class="navbar">
        <a href="/home">home</a>
        <a href="/product">product</a>


        <a href="#menu">menu</a>
        <a href="#order">about</a>
        <a href="#">blogs</a>
    </nav>

    <div class="icons">
        <a href="">
        <div id="menu-btn" class="fas fa-bars"></div>
        </a>
        <div id="search-btn" class="fas fa-search"></div>
        <a href="/cart">
                <div id="cart-btn" class="fas fa-shopping-cart">
        </div>
        </a>


        <div class="dropdown"> 
            <div id="login-btn" class="fas fa-user"></div>
            <div class="dropdown-content"> 
                    {{#if user}}
                    <a href="/user/account">
                        <p class="btn-drop" >My profile</p>
                    </a>
                    
                    <a href="/user/history-order">
                        <p class="btn-drop" >Order history</p>
                    </a>   
                    
                    <a href="/user/change-pass">
                        <p class="btn-drop" >Change password</p>
                    </a>   


                    <a href="/logout">
                        <p class="btn-drop" >Log out</p>
                    </a>
                    {{else}}
                    <a href="/sign-in">
                        <p  class="btn-drop">Log in</p>
                    </a>
                    {{/if}}
                    
                
            </div>

        </div>
    </div>
    
</header>


<section class="search-form-container">
    <form action="/product" method="get" >
        <label for="category"> Category </label>
        <select name="category">
            <option value="combo">combo</option>
            <option value="pizza">pizza</option>
            <option value="drink">drink</option>
            <option value="burger">burger</option>
            <option value="chicken">chicken</option>
            <option value="side-dishes">side dishes</option>
        </select>
        
        <label for="type"> Type </label>
        <select name="type">
            <option value="price"> Price </option>
            <option value="rating"> Rating </option>
        </select>
        
        
        <label for="order"> Order </label>
        <select name="order">
            <option value="asc"> Ascending </option>
            <option value="dsc"> Descending </option>
        </select>
        
        <label for="value"> Value </label>
        <select name="value">
            <option value="0-5000"> 0-5000 VND</option>
            <option value="5000-10000"> 5000-10000 VND</option>
            <option value="10000-50000"> 10000-50000 VND</option>
            <option value="50000-100000"> 50000-100000 VND</option>
        </select>

        <label for="stocking"> Status </label>
        <select name="stocking">
            <option value="true"> Is stocking</option>
            <option value="false"> Out of stocking</option>
        </select>

        <label for="order"> Keyword </label>
        <input type="search" name="search" placeholder="  search here..." id="search-box">
            
        <button class="fas fa-search"></label>
    </form>

</section>

