{{#if message}}
<div class="body-activate">
     <div class="card-activate">
      <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
        <i class="checkmark activate">✓</i>
      </div>
        <h1 class = "activate">Success</h1> 
        <p class = "activate">Welcome to our website<br/> Enjoy your wonderful dishes here.</p>

           <a href="/sign-in">
                   <button class ="btn">
           Click here to login
            </button>
           </a>
      </div>
</div>
{{/if}}
